
/* Your CSS Code here. */
a{
text-decoration:none;
	
}
h1{
	text-align:center;
}
nav{
background-color:yellow;
	height:40px;
}
ul{
display:flex;
	justify-content:space-between;
	
	align-items:center;
	
}
.vid-div{
margin-top:2rem;
	display:flex;
	justify-content:center;
	gap:3rem;
}
video{
width:200px;
}
